.auth-container
  = render 'user-header'
  %main.auth-main
    %section.auth-main__wrapper
      .auth-main__wrapper--title 新規会員登録
      .auth-main__wrapper--box
        .auth-main__wrapper--box--inner
          = link_to '#', class: 'btn-default btn-mail' do
            %i.far.fa-envelope
            メールアドレスで登録
          = button_tag '#', class: 'btn-default btn-facebook' do
            %i.fab.fa-facebook-square
            Facebookで登録
          = button_tag '#', class: 'btn-default btn-google' do
            %i.fab.fa-google
            Googleで登録
  = render 'user-footer'