:css
  li:nth-child(2).progress-list {
    color: red;
    font-weight: 600;
  }
  li:nth-child(n+1):nth-child(-n+2) .progress-status{
    background-color: red;
  }
  li:nth-child(1) .progress-status:after{
    background-color: red;
  }
  li:nth-child(2) .progress-status:before{
    background-color: red;
  }
.signup-second
  = render 'sign-up-header'
  .second-main
    %section.second-main__wrapper
      .second-main__wrapper--title 電話番号の確認
      = form_with class: 'second-main__wrapper--box' do |f|
        .second-main__wrapper--box--inner
          .form-group.margin-delete
            = f.label '携帯電話の番号', class: 'form-label'
            = f.phone_field :phone, class: 'form-default form-min', placeholder: '携帯電話の番号を入力'
          %p.single-text 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          = button_tag '#', class: 'btn-default btn-next margin-bottom-delete' do
            SMSを送信する
          %p.single-text ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .text-right.margin-top-37
            = link_to '#', class: 'forgot-password' do
              電話番号の確認が必要な理由
              = icon 'fas', 'chevron-right', class: 'icon-adjust'
  = render 'user-footer'