//FIXME:仮置き
.main
  .payment
    %h3.payment__head クレジットカード情報入力
    .input
      .input__title
        %span カード番号
        %span.input__title--must 必須
      %input.input__title--form{"data-input-type": "card", maxlength: "19", placeholder: "半角数字のみ", type: "text", value: ""}/
      %span.image
        = image_tag "/images/visa.svg", size: "49x20"
        = image_tag "/images/master-card.svg", size: "34x20"
        = image_tag "/images/saison-card.svg", size: "49x20"
        = image_tag "/images/jcb.svg", size: "32x20"
        = image_tag "/images/american_express.svg", size: "21x20"
        = image_tag "/images/dinersclub.svg", size: "32x20"
        = image_tag "/images/discover.svg", size: "32x20"


      .input__date
        %span 有効期限
        %span.input__title--must 必須
        .pulldown
          %div
            %select.pulldown__detail{name: "month" }
              %option{value: "1"} 01
              %option{value: "2"} 02
              %option{value: "3"} 03
              %option{value: "4"} 04
              %option{value: "5"} 05
              %option{value: "6"} 06
              %option{value: "7"} 07
              %option{value: "8"} 08
              %option{value: "9"} 09
              %option{value: "10"} 10
              %option{value: "11"} 11
              %option{value: "12"} 12 
            %span 月
          %div
            %select.pulldown__detail{name: "year"}
              %option{value: "2019"} 19
              %option{value: "2020"} 20
              %option{value: "2021"} 21
              %option{value: "2022"} 22
              %option{value: "2023"} 23
              %option{value: "2024"} 24
              %option{value: "2025"} 25
              %option{value: "2026"} 26
              %option{value: "2027"} 27
              %option{value: "2028"} 28
              %option{value: "2029"} 29
            %span 年



      .input__cord
        %span セキュリティコード
        %span.input__title--must 必須
      %input.input__cord--form{"data-input-type": "card", maxlength: "4", placeholder: "カード背面4桁もしくは3桁の番号", type: "text", value: ""}/
      .back-question
        %i.fas.fa-question-circle 
        %span カード番号の裏面とは?
      .input__add
        %button.input__add--btn{type: "submit"} 追加する
        
