=render partial: 'layouts/header'
.toppage_main
  .top_photo
    %div.slick
      %li.top_photo_a
        %div.photo_content 
          スマホでかんたん
          %br フリマアプリ
        %div.photo_content_introduce 
          メルカリはスマホカメラからすぐに出品できる 
          %br 購入時も安心な独自システムのアプリです
        %div.photo_content_icon
          .photo_content_icon__left
            = link_to image_tag "/images/appstore.icon.png", size: "133x42", href:"https://apps.apple.com/jp/app/id667861049?l=ja"
          .photo_content_icon__right
            = link_to image_tag "/images/googleplay.icon.png", size: "133x42", href:"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
        = image_tag "/images/簡単アプリ.png",class:"toppage_content_photo"
      %li.toppage-photo_b
        = image_tag "/images/キャンプ特集.png",class:"toppage_content_photo_camp"

  .pick-up
    .pick-up-category
      .pickup-head
        ピックアップカテゴリー
      .item-container
        %h3.text-center
          = link_to '#', class:"text-center__inner" do
            レディース 新着アイテム
        =render partial: 'products/pickup/box-contents1'

      .item-container
        %h3.text-center
          = link_to '#', class:"text-center__inner" do
            メンズ 新着アイテム
        =render partial: 'products/pickup/box-contents2'
        -# =render partial: 'products/box-contents', locals:{products:@products.where(category_id:"2")}

      .item-container
        %h3.text-center
          = link_to '#', class:"text-center__inner" do
            ベビー・キッズ 新着アイテム
        =render partial: 'products/pickup/box-contents3'

        
      .item-container
        %h3.text-center
          = link_to '#', class:"text-center__inner" do
            コスメ・香水・美容 新着アイテム
        =render partial: 'products/pickup/box-contents4'
        -# =render partial: 'products/box-contents',locals:{products:@products.where(category_id:"4")}

      .pickup-head
        ピックアップブランド
      .item-container
        %h3.text-center
          = link_to '#', class:"text-center__inner" do
            シャネル 新着アイテム
        =render partial: 'products/box-contents',locals:{products:@products.where(brand_id:"1")}

      .item-container
        %h3.text-center
          = link_to '#', class:"text-center__inner" do
            ルイ ヴィトン 新着アイテム
        =render partial: 'products/box-contents',locals:{products:@products.where(brand_id:"2")}

      .item-container
        %h3.text-center
          = link_to '#', class:"text-center__inner" do
            シュプリーム 新着アイテム
        =render partial: 'products/box-contents',locals:{products:@products.where(brand_id:"3")}
        
      .item-container
        %h3.text-center
          = link_to '#', class:"text-center__inner" do
            ナイキ 新着アイテム
        =render partial: 'products/box-contents',locals:{products:@products.where(brand_id:"4")}
=render partial: 'layouts/footer'
=render partial: 'layouts/footer-button'
