%script{src: 'product_show_photo', type: 'text/html'}

/* class名の長さはscssの独自性を確保するためであり、読みにくさはご愛嬌。本当は独自性確保かつ読みやすさを追求したいが今は難しい。 */

.wrapper3

  = render 'layouts/header'

  %section.item-container1
    %h1.item-container1__item-name 
      = @product.product_name
    .item-container1__item-content.clearfix
      .content--photo
        %ul.content--photo-up
          - @product.photos.each_with_index do |photo, i|
            %li.photo-up-piece
              = image_tag @product.photos[i].variant(resize:'300x380').processed

              -#= @product.photos.each do |photo|
              -#= image_tag(url_for(@product.photos))
            -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '300px', width: '300px')   #, class: 'content--photo-up'
            -# %li.photo-up-piece
            -#   = image_tag('/images/m37585938822_1.jpg', height: '300px', width: '300px')
            -# %li.photo-up-piece
            -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '300px', width: '300px')   #, class: 'content--photo-up'
            -# %li.photo-up-piece
            -#   = image_tag('/images/m37585938822_1.jpg', height: '300px', width: '300px')
            -# %li.photo-up-piece
            -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '300px', width: '300px')   #, class: 'content--photo-up'
            -# %li.photo-up-piece
            -#   = image_tag('/images/m37585938822_1.jpg', height: '300px', width: '300px')
            -# %li.photo-up-piece
            -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '300px', width: '300px')   #, class: 'content--photo-up'
            -# %li.photo-up-piece
            -#   = image_tag('/images/m37585938822_1.jpg', height: '300px', width: '300px')
            -# %li.photo-up-piece
            -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '300px', width: '300px')   #, class: 'content--photo-up'
            -# %li.photo-up-piece
            -#   = image_tag('/images/m37585938822_1.jpg', height: '300px', width: '300px')

        %ul.content--photo-down
          - @product.photos.each_with_index do |photo, i|
            %li.content-photo-down__piece
              = image_tag @product.photos[i].variant(resize:'60x60').processed

          -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '60px', width: '60px')   # 'RED19515A006_TP_V4.jpg' is src
          -# %li.content-photo-down__piece
          -#   = image_tag('/images/m37585938822_1.jpg', height: '60px', width: '60px')
          -# %li.content-photo-down__piece
          -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '60px', width: '60px')
          -# %li.content-photo-down__piece
          -#   = image_tag('/images/m37585938822_1.jpg', height: '60px', width: '60px')
          -# %li.content-photo-down__piece
          -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '60px', width: '60px')   # 'RED19515A006_TP_V4.jpg' is src
          -# %li.content-photo-down__piece
          -#   = image_tag('/images/m37585938822_1.jpg', height: '60px', width: '60px')
          -# %li.content-photo-down__piece
          -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '60px', width: '60px')   # 'RED19515A006_TP_V4.jpg' is src
          -# %li.content-photo-down__piece
          -#   = image_tag('/images/m37585938822_1.jpg', height: '60px', width: '60px')
          -# %li.content-photo-down__piece
          -#   = image_tag('/images/RED19515A006_TP_V4.jpg', height: '60px', width: '60px')   # 'RED19515A006_TP_V4.jpg' is src
          -# %li.content-photo-down__piece
          -#   = image_tag('/images/m37585938822_1.jpg', height: '60px', width: '60px')

      %table.content--detail-table
        %tbody.table
          %tr.table--section
            %th.table--section-left 
              出品者
            %th.table--section-right 
              = @product.exhibitor.nickname
          %tr.table--section
            %th.table--section-left
              カテゴリー
            %th.table--section-right 
              = @product.category.name
          %tr.table--section
            %th.table--section-left
              ブランド
            %th.table--section-right
              = @product.brand  #突然 .brand.name がundefined：nameになる #speeddemon 前に何があったのか確認のため残す 以下同様
          %tr.table--section
            %th.table--section-left
              商品状態
            %th.table--section-right
              = @product.product_status #Ghost Rider
          %tr.table--section
            %th.table--section-left
              配送料負担
            %th.table--section-right
              = @product.delivery_charge #how much will you pay
          %tr.table--section
            %th.table--section-left
              配送方法
            %th.table--section-right
              = @product.delivery_method #Aaaaa-Oh
          %tr.table--section
            %th.table--section-left
              配送元
            %th.table--section-right
              = @product.delivery_area #ちょっと何言ってるか分からないです
          %tr.table--section
            %th.table--section-left
              配送日目安
            %th.table--section-right
              = @product.delivery_days #てやんでい

    .item-container1__item-price
      %span.item-container1__item-price-bold
        ¥
        = @product.price
      %span.item-container1__item-price-tax (税込)
      %span.item-container1__item-price-shipping-fee
        = @product.delivery_charge
    = link_to " 購入画面に進む", purchase_index_path,  class:"item-container1__item-buy-btn"
    .item-container1__item-description 
      %p.item-description-inner
        -# This is description area//
        -# This is description area//
        -# This is description area//
        -# This is description area//
        -# This is description area//
        -# This is description area//
        = @product.product_introduction
    .item-container1__item-other-btn.clearfix
      .link_btn_left
        %button.item-other-btn-left いいね！
      .link_btn_right
        %i.fa.fa-lock
        = link_to '安心安全への取り組み', root_path, class: 'item-other-btn-right'

  .item-comment-area
    In here,communicate each other.//
    In here,communicate each other.//
    In here,communicate each other.//
    In here,communicate each other.//
    In here,communicate each other.//
    In here,communicate each other.//
    In here,communicate each other.//
  %ul.item-nav.clearfix
    %li.item-nav__link
      = link_to '< Preview product', root_path, class: 'item-nav__link-prev'
      = link_to 'Next product >', root_path, class: 'item-nav__link-next'
  .sns
    %ul.sns--aikon
      %i.fab.fa-facebook-square
      %i.fab.fa-twitter-square
      %i.fab.fa-pinterest
  .item-others
    %section.item-others--seller
      %h2.item-others--seller_name 出品者のその他の商品
      .item-others--seller_product.clearfix

        .item-others--seller_product_box
          .items-box_photo
            = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
          .items-box_body
            %h3.items-box-name
              ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
            .items-box-num
              .items-box-price
                ￥6,000
              .items-box-icon
                %i.far.fa-heart
                8
            -# .items-box-tax   本番では税は非表示 以下同じ箇所も同様
            -#   (税込)           何かの時に記録として残す
        .item-others--seller_product_box
          .items-box_photo
            = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
          .items-box_body
            %h3.items-box-name
              ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
            .items-box-num
              .items-box-price
                ￥6,000
              .items-box-icon
                %i.far.fa-heart
                8
            -# .items-box-tax
            -#   (税込)
        .item-others--seller_product_box
          .items-box_photo
            = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
          .items-box_body
            %h3.items-box-name
              ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
            .items-box-num
              .items-box-price
                ￥6,000
              .items-box-icon
                %i.far.fa-heart
                8
            -# .items-box-tax
            -#   (税込)

    %section.item-others--product
      %h2.item-others--product__category-name 同カテゴリーその他の商品
      .item-others--product__content

        .item-others--product__content-product-box
          .items-box_photo
            = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
          .items-box_body
            %h3.items-box-name
              ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
            .items-box-num
              .items-box-price
                ￥6,000
              .items-box-icon
                %i.far.fa-heart
                8
            -# .items-box-tax
            -#   (税込)
        .item-others--product__content-product-box
          .items-box_photo
            = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
          .items-box_body
            %h3.items-box-name
              ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
            .items-box-num
              .items-box-price
                ￥6,000
              .items-box-icon
                %i.far.fa-heart
                8
            -# .items-box-tax
            -#   (税込)
        .item-others--product__content-product-box
          .items-box_photo
            = link_to image_tag "https://static.mercdn.net/thumb/photos/m80174371277_1.jpg", href:"", size: "210x200"
          .items-box_body
            %h3.items-box-name
              ビンテージ 1963年製 バービー人形マテル スイス製手巻き腕時計
            .items-box-num
              .items-box-price
                ￥6,000
              .items-box-icon
                %i.far.fa-heart
                8
            -# .items-box-tax

= render 'layouts/footer'
