%ul.gnav-brand
  %li{class:"init-bottom", href:'/products'}
    .brand
      .brand__icon
        %i.fas.fa-tag.fa-spin
      .brand__search
        ブランドから探す
  %li
    = link_to "シャネル",'#', class:"catemain"
  %li
    = link_to "ナイキ",'#', class:"catemain"
  %li
    = link_to "ルイ ヴィトン",'#', class:"catemain"
  %li
    = link_to "シュプリーム",'#', class:"catemain"
  %li
    = link_to "アディダス",'#', class:"catemain"
  %li
    = link_to "ブランド一覧",'#', class:"catemain"
