%ul.gnav
  %li{class:"init-bottom", href:'/products'}
    .category
      .category__icon
        %i.fas.fa-list-ul
      .category__search
        カテゴリーから探す
  %li
    = link_to "レディース",'#', class:"catemain"
    %ul
      %li
        = link_to @categories[1]['name'], '#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"

      %li
        = link_to @categories[21]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to @categories[58]['name'],'#', class:"catesub"
      %li
        = link_to @categories[65]['name'],'#', class:"catesub"
      %li
        = link_to @categories[21]['name'],'#', class:"catesub"
  %li
    = link_to "メンズ",'#', class:"catemain"
    %ul
      %li
        = link_to @categories[21]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to @categories[21]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "ベビー・キッズ",'#', class:"catemain"
    %ul
      %li
        = link_to @categories[21]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "インテリア・住まい・小物",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "本・音楽・ゲーム",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "おもちゃ・ホビー・グッズ",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "コスメ・香水・美容",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "家電・スマホ・カメラ",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "スポーツ・レジャー",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "ハンドメイド",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "自動車・オートバイ",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "その他",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "カテゴリー一覧",'#', class:"catemain"
  