%ul.gnav
  %li{class:"init-bottom", href:'/products'}
    .category
      .category__icon
        %i.fas.fa-list-ul
      .category__search
        カテゴリーから探す
  %li
    = link_to "レディース",'#', class:"catemain"
    %ul
      %li
        = link_to @categories[1]['name'], '#', class:"catesub"
        %ul
          %li
            = link_to @categories[2]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[3]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[4]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[5]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[6]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[7]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[8]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[9]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[10]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[11]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[12]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[13]['name'], '#', class:"catesubsub"
          %li
            = link_to @categories[14]['name'], '#', class:"catesubsub"
      %li
        = link_to @categories[21]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to @categories[23]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[24]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[25]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[26]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[27]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[28]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[29]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[30]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[31]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[32]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[33]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[34]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[35]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[36]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[37]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[38]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[39]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[40]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[41]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[42]['name'],'#', class:"catesubsub"
          %li
            = link_to @categories[43]['name'],'#', class:"catesubsub"

      %li
        = link_to @categories[58]['name'],'#', class:"catesub"
      %li
        = link_to @categories[65]['name'],'#', class:"catesub"
      %li
        = link_to @categories[71]['name'],'#', class:"catesub"
      %li
        = link_to @categories[83]['name'],'#', class:"catesub"
      %li
        = link_to @categories[87]['name'],'#', class:"catesub"
      %li
        = link_to @categories[94]['name'],'#', class:"catesub"
      %li
        = link_to @categories[103]['name'],'#', class:"catesub"
      %li
        = link_to @categories[123]['name'],'#', class:"catesub"
      %li
        = link_to @categories[136]['name'],'#', class:"catesub"
      %li
        = link_to @categories[142]['name'],'#', class:"catesub"
      %li
        = link_to @categories[168]['name'],'#', class:"catesub"
      %li
        = link_to @categories[175]['name'],'#', class:"catesub"
      %li
        = link_to @categories[183]['name'],'#', class:"catesub"
      %li
        = link_to @categories[193]['name'],'#', class:"catesub"
      %li
        = link_to @categories[202]['name'],'#', class:"catesub"
      %li
        = link_to @categories[213]['name'],'#', class:"catesub"
  %li
    = link_to "メンズ",'#', class:"catemain"
    %ul
      %li
        = link_to @categories[219]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to @categories[233]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1a",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to @categories[258]['name'],'#', class:"catesub"
      %li
        = link_to @categories[269]['name'],'#', class:"catesub"
      %li
        = link_to @categories[279]['name'],'#', class:"catesub"
      %li
        = link_to @categories[293]['name'],'#', class:"catesub"
      %li
        = link_to @categories[300]['name'],'#', class:"catesub"
      %li
        = link_to @categories[309]['name'],'#', class:"catesub"
      %li
        = link_to @categories[319]['name'],'#', class:"catesub"
      %li
        = link_to @categories[350]['name'],'#', class:"catesub"
      %li
        = link_to @categories[358]['name'],'#', class:"catesub"
      %li
        = link_to @categories[364]['name'],'#', class:"catesub"
      %li
        = link_to @categories[370]['name'],'#', class:"catesub"
      %li
        = link_to @categories[375]['name'],'#', class:"catesub"

  %li
    = link_to "ベビー・キッズ",'#', class:"catemain"
    %ul
      %li
        = link_to @categories[378]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to @categories[391]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to @categories[401]['name'],'#', class:"catesub"
      %li
        = link_to @categories[411]['name'],'#', class:"catesub"
      %li
        = link_to @categories[431]['name'],'#', class:"catesub"
      %li
        = link_to @categories[447]['name'],'#', class:"catesub"
      %li
        = link_to @categories[457]['name'],'#', class:"catesub"
      %li
        = link_to @categories[464]['name'],'#', class:"catesub"
      %li
        = link_to @categories[480]['name'],'#', class:"catesub"
      %li
        = link_to @categories[488]['name'],'#', class:"catesub"
      %li
        = link_to @categories[494]['name'],'#', class:"catesub"
      %li
        = link_to @categories[500]['name'],'#', class:"catesub"
      %li
        = link_to @categories[507]['name'],'#', class:"catesub"
      %li
        = link_to @categories[516]['name'],'#', class:"catesub"
      %li
        = link_to @categories[523]['name'],'#', class:"catesub"

  %li
    = link_to "インテリア・住まい・小物",'#', class:"catemain"
    %ul
      %li
        = link_to @categories[528]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to @categories[541]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to @categories[557]['name'],'#', class:"catesub"
      %li
        = link_to @categories[572]['name'],'#', class:"catesub"
      %li
        = link_to @categories[583]['name'],'#', class:"catesub"
      %li
        = link_to @categories[595]['name'],'#', class:"catesub"
      %li
        = link_to @categories[609]['name'],'#', class:"catesub"
      %li
        = link_to @categories[618]['name'],'#', class:"catesub"
      %li
        = link_to @categories[624]['name'],'#', class:"catesub"
      %li
        = link_to @categories[630]['name'],'#', class:"catesub"
      %li
        = link_to @categories[636]['name'],'#', class:"catesub"
      %li
        = link_to @categories[661]['name'],'#', class:"catesub"
      %li
        = link_to @categories[679]['name'],'#', class:"catesub"

  %li
    = link_to "本・音楽・ゲーム",'#', class:"catemain"
    %ul
      %li
        = link_to @categories[682]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to @categories[698]['name'],'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to @categories[707]['name'],'#', class:"catesub"
      %li
        = link_to @categories[714]['name'],'#', class:"catesub"
      %li
        = link_to @categories[723]['name'],'#', class:"catesub"
      %li
        = link_to @categories[734]['name'],'#', class:"catesub"
      %li
        = link_to @categories[739]['name'],'#', class:"catesub"
  %li
    = link_to "おもちゃ・ホビー・グッズ",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "コスメ・香水・美容",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "家電・スマホ・カメラ",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "スポーツ・レジャー",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "ハンドメイド",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "自動車・オートバイ",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "その他",'#', class:"catemain"
    %ul
      %li
        = link_to "サブメニュー1-1",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー1-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー1-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-2",'#', class:"catesub"
        %ul
          %li
            = link_to "サブサブメニュー2-1",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-2",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-3",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-4",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-5",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-6",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-7",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-8",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-9",'#', class:"catesubsub"
          %li
            = link_to "サブサブメニュー2-10",'#', class:"catesubsub"
      %li
        = link_to "サブメニュー1-3",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-4",'#', class:"catesub"
      %li
        = link_to "サブメニュー1-5",'#', class:"catesub"
  %li
    = link_to "カテゴリー一覧",'#', class:"catemain"
  