%wrapper
  .header
    .header-inner
      %ul.header-top
        %li.logo
          = link_to "/products" do
            = image_tag "/images/2019-06-23 17.04.26.png", size: "150x50"
        %li.form
          = form_with id: "form", url:'/#', method: :get do |f|
            = f.text_field :search, class: "search", placeholder: ' 何かお探しですか？'
            .image-label#sbtn
              =f.label  class: "submit" do
                = f.button "", class:"fas fa-search fa-lg", value: "&#xf002;"
                  
      .header-bottom
        .header-bottom__left
          =render partial: 'layouts/dropdown'
          =render partial: 'layouts/brand'
        -if user_signed_in?
          =render partial: 'layouts/header-bottom-right-mypage'
        -else 
          =render partial: 'layouts/header-bottom-right-newpage'
        -# =render partial: 'layouts/header-bottom-right-otherpage'