!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample53b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %wrapper
      .header
        .header-inner
          %ul.header-top
            %li.logo
              = link_to image_tag "/2019-06-23 17.04.26.png", size: "150x50", href:"/products"
            %li.form
              = form_with id: "form", url:'/#', method: :get do |f|
                = f.text_field :search, class: "search", placeholder: ' 何かお探しですか？'
                .image-label#sbtn
                  =f.label  class: "submit" do
                    = f.button "", class:"fas fa-search fa-lg", value: "&#xf002;"
                      
          .header-bottom
            %ul.header-bottom__left
              %li.category
                .category__icon
                  %i.fas.fa-list-ul
                .category__search
                  カテゴリーから探す
              %li.brand
                .brand__icon
                  %i.fas.fa-tag.fa-spin
                .brand__search
                  ブランドから探す
            %ul.header-bottom__right
              %li.liked-item
                = link_to "/" do
                  %i.far.fa-heart.fa-lg
                    .header-bottom__right__text
                      いいね！一覧
              %li.notification-list
                = link_to "/" do
                  %i.far.fa-bell.fa-lg
                  .header-bottom__right__text
                    お知らせ
              %li.todo-list
                = link_to "/" do
                  %i.fas.fa-check.fa-lg
                  .header-bottom__right__text
                    やることリスト
              %li.my-page
                = link_to "/", class: "my-page__link" do
                  = image_tag "/member_photo_noimage_thumb.png", size: "30x30"
                  .my-page__text
                    .header-bottom__right__text
                      マイページ
      = yield
      .hooter
        .hooter-top
          .hooter-top-inner
            .hooter-top-inner__right
              #h2　スマホでかんたんフリマアプリ
              #p 今すぐ無料ダウンロード！
              .hooter-top-inner__right-icon
                = image_tag "/mercari.app.acon.png", size: "68x68", class: "hooter-top-inner__right-icon-left"
                .hooter-top-inner__right-app
                  = link_to image_tag "/appstore.icon.png", size: "133x42", class: "hooter-top-inner__right-app_icon-left", href:"https://apps.apple.com/jp/app/id667861049?l=ja"

                  = link_to image_tag "/googleplay.icon.png", size: "133x42", class: "hooter-top-inner__right-app_icon-right", href:"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
            .hooter-top-inner__left

        .hooter-bottom
          .hooter-main
            .footer-cell
              %h2 メルカリについて
              %ul
                %li
                  %a{ href:'https://about.mercari.com/'}
                    会社概要（運営会社）
                %li
                  %a{ href:'https://careers.mercari.com/'}
                    採用情報
                %li
                  %a{ href:'https://about.mercari.com/press/news/'}
                    プレリリース
                %li
                  %a{ href:'https://jp-news.mercari.com/'}
                    公式ブログ
                %li
                  %a{ href:'https://www.mercari.com/jp/logo-guidelines/'}
                    メルカリロゴ利用ガイド
                .sns-icon
                  = link_to 'https://twitter.com/mercari_jp' do
                    %i.fab.fa-twitter.fa-2x
                  = link_to 'https://www.facebook.com/mercarijp' do
                    %i.fab.fa-facebook-square.fa-2x
                 
            .footer-cell.footer-cell_help
              %h2 ヘルプ＆ガイド
              %ul
                %li
                  %a{ href:'https://www.mercari.com/jp/help_center/'}
                    メルカリガイド
                %li
                  %a{ href:'https://www.mercari.com/jp/rakuraku-mercari/'}
                    らくらくメルカリ便
                %li
                  %a{ href:'https://www.mercari.com/jp/yuyu-mercari/'}
                    ゆうゆうメルカリ便
                %li
                  %a{ href:'https://www.mercari.com/jp/rakuraku-ogata/'}
                    大型メルカリ便
                %li
                  %a{ href:'https://www.mercari.com/jp/guide/car/'}
                    車体取引ガイド
                %li
                  %a{ href:'https://www.mercari.com/jp/safe/description/'}
                    メルカリあんしん・あんぜん宣言！
                %li
                  %a{ href:'https://www.mercari.com/jp/authenticity/'}
                    偽ブランド品撲滅への取り組み
                %li
                  %a{ href:'https://www.mercari.com/jp/box/'}
                    メルカリボックス

            .footer-cell.footer-cell_width
              %h2.footer-title
                プライバシーと利用規約
              .footer-item
                .footer-cell-inner__left
                  %ul
                    %li
                      %a{ href:'https://www.mercari.com/jp/privacy/'}
                        プライバシーポリシー
                    %li
                      %a{ href:'https://www.mercari.com/jp/tos/'}
                        メルカリ利用規約
                    %li
                      %a{ href:'https://www.mercari.com/jp/tos_smartphone_support/'}
                        あんしんスマホサポート制度に関する利用特約
                    %li
                      %a{ href:'https://www.mercari.com/jp/compliance/'}
                        コンプライアンスポリシー

                .footer-cell-inner__right
                  %ul
                    %li
                      %a{ href:'https://www.mercari.com/jp/data_security/'}
                        個人データの安全管理に係る基本方針
                    %li
                      %a{ href:'https://www.mercari.com/jp/tokutei/'}
                        特定商取引に関する表記
                    %li
                      %a{ href:'https://www.mercari.com/jp/shikin_kessai/'}
                        資金決済方に基づく表示
                    %li
                      %a{ href:'https://about.mercari.com/sustainability/'}
                        法令遵守と犯罪抑止のために
                    %li
                      %a{ href:'https://www.mercari.com/jp/help_center/category/458/'}
                        返品・返金ポリシー

            .footer-cell
              %h2 国
              %ul
                %li
                  %a{ href:'https://www.mercari.com/jp/'}
                    日本
                %li
                  %a{ href:'https://www.mercari.com/'}
                    United Status
          .hooter-sub
            .hooter-sub__left
              = link_to image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?2414431219", href:"https://www.mercari.com/jp/"
            .hooter-sub__right
              %small © 2019 Mercari
        %a{class:"footer-button", href:'/products'}
          %div.footer-button__text
            出品
          %i.fas.fa-camera.fa-4x